<section class="about-page" ng:controller="AboutPageController">
    <div class="container-xxl py-1 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#!">Home</a></li>
                    <li class="breadcrumb-item"><a href="#!about">About</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- About Start -->
    <div class="container-xxl py-5" ng:controller="HomePageController">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-start">
                            <img alt="" class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="assets/img/fufu.jpg">
                        </div>
                        <div class="col-6 text-start">
                            <img alt="" class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="assets/img/about-3.jpg" style="margin-top: 25%;">
                        </div>
                        <div class="col-6 text-end">
                            <img alt="" class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="assets/img/jollof.jpg">
                        </div>
                        <div class="col-6 text-end">
                            <img alt="" class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="assets/img/about-4.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                    <h1 class="mb-4">Welcome to <i class="la la-utensils text-primary me-2"></i>{{appName}}</h1>
                    <p class="mb-4">This platform connects skilled cooks with clients seeking delicious, home-cooked meals.</p>
                    <p class="mb-4">We've designed this space to make finding the right match quick and hassle-free. All you need to do is register now to start making those easy connections!</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">{{totalClients}}</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Registered</p>
                                    <h6 class="text-uppercase mb-0">Clients</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">{{totalCooks ? totalCooks : defaultNum}} </h1>
                                <div class="ps-4">
                                    <p class="mb-0">Total</p>
                                    <h6 class="text-uppercase mb-0">Skilled Cooks</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="#!home">Back Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
   
</section>