<section class="home-page" ng:controller="HomePageController">
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-3 text-white animated slideInLeft">Find your<br>favorite cook</h1>
                    <p class="text-white animated slideInLeft mb-4 pb-2">
                        Want to book a cook for a personalized cuisine?
                        Look no further, you are at the right place at the right time. 
                        On Cook4Me, you will discover top-notch and experienced cooks who offer Five-Star services at a reasonable
                        price according to your preferences.
                    </p>
                    <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Discover A Cook</a>
                </div>
                <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                    <img alt="" class="img-fluid" src="assets/img/hero.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">World Class</h5>
                <h1 class="mb-5">Top Ranked Cooks</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img alt="" class="img-fluid" src="assets/img/team-1.jpg" alt="">
                        </div>
                        <h5 class="mb-0">{{cook[0] ? cook[0].name : blankName }}</h5>
                        <small>Rank: {{cook[0].rank}}</small>
                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img alt="" class="img-fluid" src="assets/img/team-2.jpg" alt="">
                        </div>
                        <h5 class="mb-0">{{cook[1] ? cook[1].name : blankName }}</h5>
                        <small>Rank: {{cook[1].rank}}</small>
                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img alt="" class="img-fluid" src="assets/img/team-3.jpg" alt="">
                        </div>
                        <h5 class="mb-0">{{cook[2] ? cook[2].name : blankName }}</h5>
                        <small>Rank: {{cook[2].rank}}</small>
                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img alt="" class="img-fluid" src="assets/img/team-4.jpg" alt="">
                        </div>
                        <h5 class="mb-0">{{cook[3] ? cook[3].name : blankName }}</h5>
                        <small>Rank: {{cook[3].rank}}</small>
                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img alt="" class="img-fluid" src="assets/img/team-2.jpg" alt="">
                        </div>
                        <h5 class="mb-0">{{cook[4] ? cook[4].name : blankName }}</h5>
                        <small>Rank: {{cook[4].rank}}</small>
                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img alt="" class="img-fluid" src="assets/img/team-3.jpg" alt="">
                        </div>
                        <h5 class="mb-0">{{cook[5] ? cook[5].name : blankName }}</h5>
                        <small>Rank: {{cook[5].rank}}</small>
                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img alt="" class="img-fluid" src="assets/img/team-4.jpg" alt="">
                        </div>
                        <h5 class="mb-0">{{cook[6] ? cook[6].name : blankName }}</h5>
                        <small>Rank: {{cook[6].rank}}</small>
                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img alt="" class="img-fluid" src="assets/img/team-1.jpg" alt="">
                        </div>
                        <h5 class="mb-0">{{cook[7] ? cook[7].name : blankName }}</h5>
                        <small>Rank: {{cook[7].rank}}</small>
                        <div class="d-flex justify-content-center mt-3">
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href=""><i class="la la-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-start">
                            <img alt="" class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="assets/img/fufu.jpg">
                        </div>
                        <div class="col-6 text-start">
                            <img alt="" class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="assets/img/about-3.jpg" style="margin-top: 25%;">
                        </div>
                        <div class="col-6 text-end">
                            <img alt="" class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="assets/img/jollof.jpg">
                        </div>
                        <div class="col-6 text-end">
                            <img alt="" class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="assets/img/about-4.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                    <h1 class="mb-4">Welcome to <i class="la la-utensils text-primary me-2"></i>{{appName}}</h1>
                    <p class="mb-4">This platform connects skilled cooks with clients seeking delicious, home-cooked meals.</p>
                    <p class="mb-4">We've designed this space to make finding the right match quick and hassle-free. All you need to do is register now to start making those easy connections!</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">{{totalClients}}</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Registered</p>
                                    <h6 class="text-uppercase mb-0">Clients</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">{{totalCooks ? totalCooks : defaultNum}} </h1>
                                <div class="ps-4">
                                    <p class="mb-0">Total</p>
                                    <h6 class="text-uppercase mb-0">Skilled Cooks</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Feedback Start -->
    <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="video">
                    <button title="youtube" type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 bg-dark d-flex align-items-center" ng-controller="feedbackCtrl">
                <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">Feedback</h5>
                    <h1 class="text-white mb-4">We'd love your feedback!</h1>
                    <form name="feedbackForm" ng-submit="submitFeedback()">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" ng-model="UserFeedback.name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" ng-model="UserFeedback.email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Special Request" ng-model="UserFeedback.review" id="message" style="height: 100px"></textarea>
                                    <label for="message">Your Thoughts...</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                            </div>
                            <div class="col-12 text-center">
                                <small ng-scroll="clearReact()" class="fst-italic fw-bolder">{{feedbackReact}}</small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feedback Start -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
                <h1 class="mb-5">Our Clients Say!!!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel overflow-auto" style="max-height: 550px;">
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="la la-quote-left la-2x text-primary mb-3"></i>
                    <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                    <div class="d-flex align-items-center">
                        <img alt="" class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Client Name</h5>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="la la-quote-left la-2x text-primary mb-3"></i>
                    <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                    <div class="d-flex align-items-center">
                        <img alt="" class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Client Name</h5>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="la la-quote-left la-2x text-primary mb-3"></i>
                    <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                    <div class="d-flex align-items-center">
                        <img alt="" class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-3.jpg" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Client Name</h5>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="la la-quote-left la-2x text-primary mb-3"></i>
                    <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                    <div class="d-flex align-items-center">
                        <img alt="" class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/testimonial-4.jpg" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Client Name</h5>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
                <div ng-repeat="review in allReviews" class="testimonial-item bg-transparent border rounded p-4">
                    <i class="la la-quote-left la-2x text-primary mb-3"></i>
                    <p>{{review.review ? review.review : inputPlaceholder}}</p>
                    <div class="d-flex align-items-center">
                        <img alt="" class="img-fluid flex-shrink-0 rounded-circle" src="assets/img/user-icon.png" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">{{review.name ? review.name : namePlaceholder}}</h5>
                            <small>{{review.email ? review.email : emailPlaceholder}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
</section>