<section class="register-page" ng:controller="RegisterPageController">
    <div class="container-xxl py-1 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Register</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Register</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <form name="registerForm" ng-submit="submitRegisterForm()" class="row" novalidate>
        <div class="col-sm-6 center">
            <div class="card mt-5 mb-5 pr pl pt-5 pb-5">
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <h3>Register</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="" class="form-label">Register As</label>
                            <select ng-model="registerAsOptions" ng-change="optionTrigger()" title="registerAs" 
                            class="form-select form-select-lg" name="registerAs" id="registerAs"
                            ng-class="{'is-invalid': registerForm.registerAs.$invalid && registerForm.registerAs.$touched, 
                            'is-valid': registerForm.registerAs.$valid && registerForm.registerAs.$touched}" required>
                                <option selected disabled>Select option</option>
                                <option value="cook">Cook</option>
                                <option value="client">Client</option>
                            </select>
                            <div class="invalid-feedback">
                                You must select one from the options
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input title="fullName" type="text" class="form-control" name="fullName" id="fullName" aria-describedby="helpId" 
                            ng-class="{'is-invalid': registerForm.fullName.$invalid && registerForm.fullName.$touched, 
                            'is-valid': registerForm.fullName.$valid && registerForm.fullName.$touched}" 
                            ng-model="submitRegister.name" required>
                             <div class="invalid-feedback">
                                Please enter your full name
                             </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="" class="form-label">Biological Gender</label>
                            <select title="gender" class="form-select " name="gender" id="gender" 
                            ng-class="{'is-invalid': registerForm.gender.$invalid && registerForm.gender.$touched,
                            'is-valid': registerForm.gender.$valid && registerForm.gender.$touched}" ng-model="submitRegister.gender" required>
                                <option selected disabled>Select gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select your biological gender
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="dob" class="form-label">Date of Birth</label>
                            <input title="dob" type="date" class="form-control" name="dob" id="dob" aria-describedby="helpId" 
                            ng-class="{'is-invalid': registerForm.dob.$invalid && registerForm.dob.$touched, 
                            'is-valid': registerForm.dob.$valid && registerForm.dob.$touched}" ng-model="submitRegister.birthDate" required>
                            <div class="invalid-feedback">
                                Please enter your date of birth
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input title="email" type="email" class="form-control" name="email" id="email" aria-describedby="helpId" 
                            ng-class="{'is-invalid': registerForm.email.$invalid && registerForm.email.$touched,
                            'is-valid': registerForm.email.$valid && registerForm.email.$touched}" ng-model="submitRegister.email" required>
                            <div class="invalid-feedback">
                                Enter a valid email
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input title="address" type="text" class="form-control" name="address" id="address" aria-describedby="helpId" 
                            ng-class="{'is-invalid': registerForm.address.$invalid && registerForm.address.$touched,
                            'is-valid': registerForm.address.$valid && registerForm.address.$touched}" ng-model="submitRegister.address" required>
                            <div class="invalid-feedback">
                                Please enter your address
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input title="phoneNumber" type="text" class="form-control" name="phoneNumber" id="phoneNumber" aria-describedby="helpId" 
                            ng-class="{'is-invalid': registerForm.phoneNumber.$invalid && registerForm.phoneNumber.$touched,
                            'is-valid': registerForm.phoneNumber.$valid && registerForm.phoneNumber.$touched}" ng-model="submitRegister.phone" required>
                            <div class="invalid-feedback">
                                Please provide a valid phone number
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="whatAppNumber" class="form-label">Whatapp Number</label>
                            <input title="whatAppNumber" type="text" class="form-control" name="whatAppNumber" id="whatAppNumber" aria-describedby="helpId" ng-model="submitRegister.whatsapp">
                        </div>
                    </div>

                    <div ng-show="reopenRegisterAs" class="ng-hide mt-2">
                        <button ng-click="ReopenRegisterAs()" class="dropdown-toggle" aria-describedby="Open cook specific fields" type="button"></button>
                    </div>

                    <div ng-show="registerAsCook" class="col-sm-12 register-as ng-hide">
                        <div class="p-3 mb-3 border border-1 h-80 mt-3">
                            <button ng-click="closeField()" type="button" aria-describedby="Close field" class="close-btn btn-close"></button>
                            <label for="" class="form-label">{{label}}</label>
                            <textarea ng-show="toBio" class="ng-hide form-control w-75 bio-section expanded" name="bio" title="bio" id="bio" rows="3" ng-model="submitRegister.bio"></textarea>

                            <div ng-show="toDomain" class="p-4 border d-flex justify-content-between ng-hide domain-section expanded" ng-class="{'border border-danger': isNotCheck && toDomain}">
                                <div ng-repeat="(category, value) in domain" class="p-1">
                                    <h6>By {{category}}:</h6>
                                    <hr>
                                    <ul ng-repeat="item in value">
                                        <li>
                                            <input name="domain" type="checkbox" ng-model="speciality[category][item]" required> {{item}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-show="isNotCheck && toDomain" class="ng-hide">
                                <small class="text-danger">Please select at least one out of the options in each category</small>
                            </div>
                            <div ng-show="isNotCheck && toBio" class="ng-hide">
                                <small class="text-danger">Something doesn't seem right, click next for more info.</small>
                            </div>
                            <button type="button" ng-click="switcField()" class="mt-2 btn btn-outline-dark btn-sm">{{toggle}}</button>
                        </div>
                    </div>

                    <div class="col-sm-12 text-xxl-end mt-4">
                        <button type="submit" class="btn btn-dark btn-submit">
                            Submit
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>