.mr-3{
    margin-right: 1rem;
}

.pl{
    padding-left: 2rem;
}
.pr{
    padding-right: 2rem;
}

.btn-submit{
    padding: 0.5rem 3rem;
}

.center{
    margin: 0 auto;
    align-items: center;
}

.footer-bs {
    position: sticky;
    width: 100%;
    bottom: 0; /* Adjust this value to control the distance from the bottom */
    left: 0;
    padding: 1rem 1rem 0.2rem 1rem;
    background-color: #F8F9FA;
}
